name: desafio-tecnico-laravel

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: desafio-app
    restart: unless-stopped
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    environment:
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    networks:
      - desafio-network

  nginx:
    image: nginx:stable-alpine
    container_name: desafio-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - desafio-network

networks:
  desafio-network:
    driver: bridge
